.site-main__grid--wrapper {
  display: flex;
}
.site-grid {
  display: flex;
  flex-wrap: wrap;
  background: $white;
}
.site-grid__wrapper {
  padding: 15px;
  margin-right: 33px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.site-grid__wrapper:nth-child(3) {
  margin-right: 0;
}
.site-grid__wrapper:nth-child(6) {
  margin-right: 0;
}
.site-grid__heading {
  font-size: 18px;
  line-height: 21px;
  color: $black;
  max-width: 230px;
  margin-bottom: 2px;
}
.site-grid__text {
  max-width: 230px;
}
.site-gird__footer--bookmark {
  margin-bottom: 15px;
}
.site-grid__bookmark {
  padding: 10px 25px;
  background: #ffd80d;
  border-radius: 4px;
  border: none;
}
.site-grid__footer--button {
  background: rgba(13, 117, 255, 0.05);
  border-radius: 4px;
  padding: 10px 28px;
  border: none;
}
.site-gird__link {
  background-color: #75828a;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 105px;
  font-size: 14px;
  line-height: 17px;
  color: $white;
}
.site-grid__img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.site-grid__img--wrapper {
  margin-bottom: 35px;
}
